# Ignore virtual environments
newvenv/
venv/
env/

# Ignore large model files
*.h5

# Ignore Python compiled files and caches
__pycache__/
*.pyc
*.pyo

# Ignore other large files that should not be committed
*.dylib